# Copy to .env.local for local dev
# Vercel also supports setting these as Environment Variables for the build.

VITE_FIREBASE_API_KEY= "AIzaSyDm9sAChCdVzgSf2OQcxPKwO62SsxdNOLM",
VITE_FIREBASE_AUTH_DOMAIN= "kaizenbudget-1b699.firebaseapp.com",
VITE_FIREBASE_PROJECT_ID= "kaizenbudget-1b699",
VITE_FIREBASE_STORAGE_BUCKET= "kaizenbudget-1b699.firebasestorage.app",
VITE_FIREBASE_MESSAGING_SENDER_ID= "23531434534",
VITE_FIREBASE_APP_ID= "1:23531434534:web:1234567890abcdef123456",
VITE_FIREBASE_MEASUREMENT_ID= "G-1234567890",

